<% include partials/header %>
    <nav class="navbar navbar-transparent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="fa fa-cloud fa-1x" aria-hidden="true"></i>
                    Weatherly
                </a>
            </div>
            <div class="collapse navbar-collapse" id="collapsed">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/current-weather">Get Weather</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://github.com/Kaylen-Travis-Pillay/weather-app" class="btn btn-info" role="button">View on Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<% include partials/footer %>