<% include partials/header %>
    <div class="container text-center jumbo-con">
        <div class="jumbotron change">
            <h1>
                Get the latest weather for Durban, South Africa
            </h1>
            <hr>
            <p>
                Get it emailed to you
            </p>
            <form class="form-inline" action="/email-weather" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="emailAddr" id="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" placeholder="your@email.com"
                        required>
                </div>
                <button type="submit" class="btn btn-default">Get weather emailed</button>
            </form>
        </div>
    </div>
<% include partials/footer %>